*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img{
    width: 80px;
}
body{
    height: 90vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#FAF7F1;
    background-repeat:repeat-y;
    background-position:center;
    background-image: ('../img_mail/background-mail-sebi-la-gazelle.png');
    gap: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.headerPicture{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contentResponseMail{
    text-align: center;
    color: #1B334F;
    font-size:15px;
    line-height:150%;
}

#formulaireMotDePasse{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* .primaryTable{
    border-collapse: separate;
    color: #1B334F;
    background-repeat: repeat-y;
    background-position: center;
    background-color: #FAF7F1;
    width: 100%;
    line-height: 150%;
} */