



<div class="headerPicture">
    <img src="{{ absolute_url(asset('img_mail/logo.png')) }}"  alt="logo du site sebi la gazelle">
    <h1>Modification de mot de passe</h1>
</div>
<main>

    <form id="formulaireMotDePasse" action="{{ absolute_url(path('change_password_api', {token: token})) }}" method="post">
        <label for="password1">Nouveau mot de passe</label>
        <input type="password" name="password1" id="password1">
        <label for="password2">Confirmez votre mot de passe</label>
        <input type="password" name="password2" id="password2">
        <input type="submit" value="envoyer">
    </form>
    
</main>
    <section>
        <p id="messageErreur"></p>
        <ul id="infoErreur">
        
        </ul>
    
    </section>

<script>
    document.getElementById('formulaireMotDePasse').onsubmit = async function(e) {
        e.preventDefault();

        const password1 = document.getElementById('password1').value
        const password2 = document.getElementById('password2').value
        const messageErreur = document.getElementById('messageErreur')
        const infoErreur = document.getElementById('infoErreur')
        // on supprime le contenu des messages d'erreur pour afficher les nouveau 
        infoErreur.innerHTML =''
        if(password1 !== password2){
            messageErreur.textContent = 'Les mots de passe ne correspondent pas.'
            return
        }

        

        const data = {
            "password1":password1,
            "password2":password2
        }
        try {
            const response = await fetch("{{ absolute_url(path('change_password_api', {token: token})) }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    // 'Authorization': 'Bearer {{ token }}'
                    'X-Requested-With': 'XMLHttpRequest',
                },
                body: JSON.stringify(data)
            });
            const result = await response.json();

            if (response.ok) {
                messageErreur.textContent = 'votre mot de passe a été mis à jour avec succès !';
            } else {

                for(let i = 0; i< result.violations.length; i++){
                    let elementListe = document.createElement('li')
                    elementListe.textContent = result.violations[i]['title']
                    infoErreur.appendChild(elementListe)
                }
                // console.log(data)
                console.log(result.violations)
                messageErreur.textContent = 'Erreur lors de la mise à jour du mot de passe .';

            }
        } catch (error) {
            console.error('Erreur réseau :', error);
        }
    }
</script>