



<div class="headerPicture">
    <img src="{{ absolute_url(asset('img_mail/logo.png')) }}"  alt="logo du site sebi la gazelle">
    <h1>Modification de mot de passe</h1>
</div>
<main>

    <form id="formulaireMotDePasse" action="{{ absolute_url(path('change_password_api', {token: token})) }}">
        <label for="password1">Nouveau mot de passe</label>
        <input type="password" name="password1" id="password1">
        <label for="password2">Confirmez votre mot de passe</label>
        <input type="password" name="password2" id="password2">
        <input type="submit" value="envoyer">
    </form>
    <p>{{message}}</p>
</main>

<script>
    document.getElementById('formulaireMotDePasse').onsubmit = async function(e) {
        e.preventDefault();

        const formData = new FormData(this);
        const data = Object.fromEntries(formData.entries());
        try {
            const response = await fetch("{{ absolute_url(path('change_password_api', {token: token})) }}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    // 'X-Requested-With': 'XMLHttpRequest',
                },
                body: JSON.stringify(data)
            });

            if (response.ok) {
                alert('votre mot de passe a été mis à jour avec succès !');
            } else {
                alert('Erreur lors de la mise à jour.');
            }
        } catch (error) {
            console.error('Erreur réseau :', error);
        }
    }
</script>